.filter {
	position: relative;
}
.filter__reset {
	position: absolute;
	top: 7px;
	right: 0;
}
.filter__reset {
	color: var(--grayDark);
}
.filter__title {
	font-size: 20px;
	font-weight: 400;
	margin-bottom: 32px;
}
.filter__form {
	display: flex;
	flex-direction: column;
	gap: 32px;
}
.filter__fieldset {
	display: flex;
	flex-direction: column;
	align-items: start;
}
.filter__label:not(:last-child) {
	margin-bottom: 8px;
}
.filter__legend {
	margin-bottom: 12px;
}
.filter__select {
	width: 100%;
	height: 32px;
	border: none;
}
.filter__range {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 10px;
}
.filter__input {
	flex: 1 1 50%;
	width: 100%;
	padding: 0 16px;
	height: 32px;
	border: none;
}
.filter__input::placeholder {
	color: var(--grayDark);
}
.filter__checkboxes {
	display: flex;
	flex-direction: column;
	gap: 32px;
}

@media (max-width: 940px) {
	.filter__title {
		position: absolute;
		width: 1px;
		height: 1px;
		margin: -1px;
		border: 0;
		padding: 0;
		white-space: nowrap;
		clip-path: inset(100%);
		clip: rect(0 0 0 0);
		overflow: hidden;
	}
	.filter__input {
		max-width: 135px;
	}
	.filter__checkboxes {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
		gap: 24px;
		justify-content: space-between;
	}
	.filter__buttons {
		display: flex;
		gap: 16px;
		align-items: center;
	}
	.filter__reset {
		position: static;
	}
}
@media (max-width: 640px) {
	.filter__form {
		gap: 24px;
	}
}
@media (max-width: 440px) {
	.filter__input {
		max-width: none;
	}
}