.modal {
	display: flex;
	position: fixed;
	inset: 0; 
	padding: 30px;
	background-color: rgba(0, 0, 0, 0.5);
	overflow-y: auto;
	z-index: 10;
	cursor: pointer;
}
.modal__main {
	position: relative;
	margin: auto;
	cursor: default;
}
.modal__close {
	position: absolute;
	top: 12px;
	right: 12px;
	line-height: 0;
	background-color: transparent;
	border: none;
	cursor: pointer;
	outline: 1px solid transparent;
	border-radius: 3px;
}
.modal__close:focus-visible {
	outline-color: var(--grayDark); 
}
@media (max-width: 640px) {
	.modal {
		padding: 30px 15px;
	}
}