.vacancy {
	height: 100%;
	padding: 16px;
	border-radius: 16px;
	background-color: var(--white);
	cursor: pointer;
	transition: background-color .3s ease-in-out;
}
.vacancy:hover {
	background-color: var(--grayHover);
}
.vacancy:focus-visible {
	outline: 2px solid var(--blueLight);
}
.vacancy__logo {
	display: block;
	max-height: 44px;
	margin-bottom: 12px;
}
.vacancy__company {
	font-size: 20px;
	margin-bottom: 8px;
}
.vacancy__title {
	font-size: 14px;
	font-weight: 400;
	max-width: fit-content;
	padding: 3px 5px;
	margin-bottom: 8px;
	background-color: var(--blueExtraLight);
	border-radius: 4px;
}
.vacancy__field {
	color: var(--grayDark);
}